@font-face {
	font-family: 'Helvetica Neue';
	src: url('../font/HelveticaNeue-Medium.eot');
	src:
		url('../font/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
		url('../font/HelveticaNeue-Medium.woff2') format('woff2'),
		url('../font/HelveticaNeue-Medium.woff') format('woff'),
		url('../font/HelveticaNeue-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../font/HelveticaNeue-BlackCond.eot');
	src:
		url('../font/HelveticaNeue-BlackCond.eot?#iefix') format('embedded-opentype'),
		url('../font/HelveticaNeue-BlackCond.woff2') format('woff2'),
		url('../font/HelveticaNeue-BlackCond.woff') format('woff'),
		url('../font/HelveticaNeue-BlackCond.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
