{	
	"extends": "stylelint-config-recommended-scss",
	"plugins": [
		"stylelint-scss"
	],
	"rules": {
		"no-duplicate-selectors": null,
		"declaration-block-no-duplicate-properties": true,
		"indentation": "tab"
	}
}