// Icon of the header
//
// :hover             - Subtle hover highlight.
// .stars-given       - A highlight indicating you’ve already given a star.
// .stars-given:hover - Subtle hover highlight on top of stars-given styling.
// .disabled          - Dims the button to indicate it cannot be used.
//
//Styleguide 1.8

.header-icon { 
	text-align: center;
	height: 90px;
	img {
		max-height: 100%;
	}
}
